body {
    background-color: #2376dc;
    font-family: 'Helvetica';
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    margin: 0;

}

h1 {
    color: #ecf0f1;
    background-color: #2c3e50;
    margin-top: 0;
    padding: .5em;
    text-align: center;
}